# Recursion Function

In [4]:
def abc():
    return "a"
    print("pakistan")
    return("b")
abc()

'a'

In [15]:
def count_down(x):
    print(x)
    if x == 0:
        return
    else:
        count_down(x-1)
count_down(2)

2
1
0

In [37]:
l =[1 , 2, 3 , 4, 5]

for i in l:
    a =  i + 2 * 3
    print(a)

7
8
9
10
11

In [29]:
print(l)
print(a)

[1, 2, 3, 4, 5]
13

In [33]:
list(map(lambda x : x+2*3 , l))

[7, 8, 9, 10, 11]

In [36]:
list(filter(lambda x:x % 2 ==0 ,l))

[2, 4]

# Error handling

* Logical error
    * solution testing
    * manaul check line by line
* development error
    * syntax
    * expression error
    * IDE provide intellisence
* Runtime Error
    * when application  running on production environment
    * exception handling
         * try
         * except
         * else
         * finally

In [80]:
print("line1")
print("line2")
 
print( 2 / 0 )

print("line3")
print("line4")

line1
line2

ZeroDivisionError: division by zero

In [50]:
code = """
a = 2
b = 3
print(a +  b)
"""
print(code)
exec(code)

a = 2
b = 3
print(a +  b)

5

In [51]:
a

2

In [52]:
b

3

In [57]:

code = """
a = 2
b = 3
print(a -  b)
"""
try:
    exec(code)
except Exception as e:
    print(e)
print("pakistan zindabad")

-1
pakistan zindabad

# Else with try except

In [74]:
print("line1")
print("line2")

try:
    print(2 / 1)
except Exception as e:
    print(e)
else:
    print("how you are good")
print("last line")

line1
line2
2.0
how you are good
last line

# finally with try except

In [79]:
print("line1")
print("line2")

try:
    print(2 / 1)
except Exception as e:
    print(e)
else:
    print("how you are good")
finally:
    print("har hall ma chalega")

print("last line")

line1
line2
2.0
how you are good
har hall ma chalega
last line

# create our own exception

In [95]:
class Student():
    def __init__(self , sid , name , age):
        if age >= 60 or age <= 18:
            raise("student age must be 18-60")
        self.studentid = sid #sttributes
        self.name = name 
        self.age = age
s1 = Student(29 ," Zohair" , 55) 
print(s1.studentid , s1.name , s1.age)

29  Zohair 55