# function
* user define/pre_define function
    * Return function
    * Non- Return function
    * Default
    * required argument
    * lamda function
    * recursive function
    * generator function
* function components
   * function declare/ function signature
       * def function_name(arg1,arg2 .....):
       
   * function body
   * function call
        * function_name(arg1_value , arg2_value,.....)
        * function_name()

# default function
 * not required any argument when it call

In [27]:
# Shift + tab se ik tab peeche or sirf tab se aage aa jata hn
def country_message(country):
    print("My country is " + country)
    print(country +" is very beatiful")  
    print(country + " zindabad")

country_message("pakistan")
print("\n")
country_message("america")
print("\n")
country_message("china")

My country is pakistan
pakistan is very beatiful
pakistan zindabad


My country is america
america is very beatiful
america zindabad


My country is china
china is very beatiful
china zindabad

In [19]:
country_message()

My country is pakitan
Pakistan is very beatiful
pakistan zindabad

# Return and non return function
*

In [30]:
# Non- return function 
def country_message(country):
    print("My country is " + country)
    print(country +" is very beatiful")  
    print(country + " zindabad")

a = country_message("pakistan")
print("value of variable a is=" , a)

My country is pakistan
pakistan is very beatiful
pakistan zindabad
value of variable a is= None

# Return function

In [36]:
def country_name(country):
    result = f"""
    WE LOVE OUR COUNTRY
    {country} zindabad
    my country is {country}
    """
    return result

a = country_name("dubai")
b = country_name("japan")
c = country_name("China")

print(a)
print(b)
print(c)

    WE LOVE OUR COUNTRY
    dubai zindabad
    my country is dubai


    WE LOVE OUR COUNTRY
    japan zindabad
    my country is japan


    WE LOVE OUR COUNTRY
    China zindabad
    my country is China

# card

In [53]:
def student_card(roll_no , name , batch):
    card = f"""SEYLANI STUDENT CARD
    STUDENT NAME =\t {name}
    ROLL NUMBER = \t {roll_no}
    BATCH =       \t {batch}
    """
    return card

In [54]:
data = [{"zohair" , 81 , 4} ,
       { "saad", 79 , 8},
        {"fasih" , 89 , 6}]
for i in data: 
    print(student_card(*i))

SEYLANI STUDENT CARD
    STUDENT NAME =	 81
    ROLL NUMBER = 	 zohair
    BATCH =       	 4

SEYLANI STUDENT CARD
    STUDENT NAME =	 saad
    ROLL NUMBER = 	 8
    BATCH =       	 79

SEYLANI STUDENT CARD
    STUDENT NAME =	 fasih
    ROLL NUMBER = 	 89
    BATCH =       	 6

In [70]:
def my_custom_function(num1 , num2=7 , * value1 ,**dic1 ):
    print("Required positional argument num1 = " , num1 , type(num1))
    print("positional default argument num2 = " , num2 , type(num1))
    print("positional unlimited argument value = " , value1 , type(value1))  
    print("key word unlimted argument dic1 = " , dic1 , type(dic1))

my_custom_function(200)

Required positional argument num1 =  200 <class 'int'>
positional default argument num2 =  7 <class 'int'>
positional unlimited argument value =  () <class 'tuple'>
key word unlimted argument dic1 =  {} <class 'dict'>

In [83]:
def my_custom_function(num1 , num2='7 ', * value1 ,**dic1 ):
    print("Required positional argument num1 = " , num1 , type(num1))
    print("positional default argument num2 = " , num2 , type(num1))
    print("positional unlimited argument value = " , value1 , type(value1))  
    print("key word unlimted argument dic1 = " , dic1 , type(dic1))

my_custom_function(200 ,'7' , "hhh" , "jjj" ,"jjza" , tea = 7 , milk = 89)

Required positional argument num1 =  200 <class 'int'>
positional default argument num2 =  7 <class 'int'>
positional unlimited argument value =  ('hhh', 'jjj', 'jjza') <class 'tuple'>
key word unlimted argument dic1 =  {'tea': 7, 'milk': 89} <class 'dict'>

In [84]:
a = lambda num1, num2 : num1 + num2 
a(7,9)

16

In [90]:
a = lambda num1 , num2 : num1 + num2
a(2 , 3)

5

# Generator Function