# Programming paradigms
* linear programming
* control block / structrual programming
* OOPS ( Object oriented programming)

In [ ]:
# linear programming

In [11]:
print("zohair")
print("zohair")
print("zohair")
print("zohair")
print("zohair")
print("zohair")
print("zohair")
print("zohair")
print("zohair")

zohair
zohair
zohair
zohair
zohair
zohair
zohair
zohair
zohair

# STRUCTRUAL PROGRAMMING

In [17]:
for i in range(1 , 11):
    print("ZOHAIR")
    print("\t ZAIjD")

ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD
ZOHAIR
	 ZAIjD

# CONTROLS  
* IF
   * ELSE
   * elif
* for/while
   * break
   * continue
   * pass
   * else
* def
* try
  * except
  * else
  * finally
 * class

# if 
*  if logic:
* True_block_body
* else:
* false_block_body

# Comprehensice sgtyle
 *  True_block_body  if logic:    else:   false_block_body

In [20]:
if True: 
    print("karachi")
else:
    print("Lahore")

karachi

In [21]:
if False: 
    print("karachi")
else:
    print("Lahore")

Lahore

In [29]:
num = int(input("Enter a number ="))
if num % 2 == 0:
    print(f"{num} is even number")
else:
    print(f"{num} is odd number")

Enter a number09
9 is odd number

In [35]:
per = int(input("Enter Your Percentage: "))
if per >=100:
    print("You have entered a wrong percentage")
elif per > 80 :
    print("A+")
elif per >= 70:
    print("A")
elif per >= 60:
    print("B")
elif per >= 50:
    print("C")
elif per >= 40:
    print("D")
elif per >= 33:
    print("E")
else:
    print("FAIL")

Enter Your Percentage: 890
You have entered a wrong percentage

In [38]:
True and True or False

True

In [41]:
per = int(input("Enter Your Percentage: "))
if per > 0 and per <= 32 :
    print("Fail")
elif per >= 33 and per <= 40:
    print("E")
elif per >= 41 and per<= 50:
    print("D")
elif per >= 51 and per <= 60 :
    print("C")
elif per >= 61 and per <= 70:
    print("B")
elif per >= 71 and per <= 80:
    print("A")
elif per >= 81 and per <= 90:
    print("A+")
else:
    print("YOU ARE NOT ENTERING RIGHT PERCENTAGE")

Enter Your Percentage: 78
A

In [45]:
user_name = input("Enter Your Name: ")
user_password = input("Enter Your password: ")

if user_name.lower() == "admin" and user_password == "admin":
    print("WELCOME")
else:
    print("you are not a valid user")

Enter Your Name: Admin
Enter Your password: admin
WELCOME

In [46]:
user_name = input("Enter Your Name: ")
user_password = input("Enter Your password: ")

if user_name.lower() == "admin" and user_password == "admin":
    print("WELCOME")
else:
    print("you are not a valid user")

Enter Your Name: HKAJNSK
Enter Your password: NBKALNS
you are not a valid user

# loop

In [47]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
for i in ['a' , 'b' , 'c' , 'd' , 'e']:
    print(i)

a
b
c
d
e

In [55]:
for index, value in enumerate(['aas' , 'assa' , 'ahka' , 'ahak']):
    print(index , value)

0 aas
1 assa
2 ahka
3 ahak

In [58]:
list("Pakistan")

['P', 'a', 'k', 'i', 's', 't', 'a', 'n']

# ASCII

* 0-9 = 48 - 57
* A-Z = 65 - 90
* a-z = 97 - 122

In [61]:
print(ord("A"))
print(ord("a"))
print(ord("0"))

65
97
48

In [63]:
for i in range(65 , 91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [64]:
[ chr(i) for i in range(65 , 91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [66]:

[ chr(i) for i in range(65 , 91)] +\
[ chr(i) for i in range(97 , 123)] +\
[ chr(i) for i in range(48 , 58 )]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [68]:
# it will reflect errror because as we have not used \ which tell the system that this is same line task which i have written in next step
[ chr(i) for i in range(65 , 91)] +
[ chr(i) for i in range(97 , 123)] +
[ chr(i) for i in range(48 , 58 )]

SyntaxError: invalid syntax (4110318148.py, line 2)

In [75]:
[chr(i) for i in range(65 , 91) if i % 2 != 0 ]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [72]:
[chr(i) for i in range(65 , 91) if i % 2 == 0 ]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [76]:
for i in (range(1, 100)):
    print(i)
    break

1

In [79]:
for i in (range(1, 100)):
    print(i)
    if i == 7:
         break

1
2
3
4
5
6
7

In [98]:
data = [
    { 'id' : 1 , 'name' : 'ali'},
    { 'id' : 2 , 'name' : 'zaid'},
    { 'id' : 3 , 'name' : 'saad'}
    ]

for record in data:
        print(record)
        break

{'id': 1, 'name': 'ali'}

In [99]:
# it is used to skip that value
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [100]:
# pass
for i in range(1 , 1000):
    pass

In [103]:
# pass
if True:
    pass
else:
    pass

# while
* counter
* logic
* loop body
* increment/ decrement

In [110]:
counter = 10
while counter > 0:
    print(counter , 'line')
    counter -= 1

10 line
9 line
8 line
7 line
6 line
5 line
4 line
3 line
2 line
1 line

In [114]:
print(67)

67

In [117]:
counter = 0
while counter < 10:
    print(counter , 'line')
    counter += 1

0 line
1 line
2 line
3 line
4 line
5 line
6 line
7 line
8 line
9 line

In [113]:
a =