# Default function

In [9]:
def friend_list():
    print("ZAID")
    print("ZOHAIR")
    print("SAIF")
    print("UBAID")

def notfriend_list():
    print("AAFZAL")
    print("WAQAS")
    print("TIPU")    
    print("HARIS")    
    print("SAQIB")

friend_list()
print("\n")
notfriend_list()

ZAID
ZOHAIR
SAIF
UBAID


AAFZAL
WAQAS
TIPU
HARIS
SAQIB

# creating a parameter

In [15]:
def card(student_name):
    print(f"My name is {student_name}")
    print(f"{student_name} is student of Sir Qasim")
    print(f"{student_name} is Batch 04 student")
    
card("Zohair")
print("\n")
card("Ali")
print("\n")
card("Sohail")

# agar hum print(card(student_name) likhenge to ye hoga k wo print krne k baad none retuen karega )

My name is Zohair
Zohair is student of Sir Qasim
Zohair is Batch 04 student


My name is Ali
Ali is student of Sir Qasim
Ali is Batch 04 student


My name is Sohail
Sohail is student of Sir Qasim
Sohail is Batch 04 student

In [18]:
def card(student_name):
    print(f"My name is {student_name}")
    print(f"{student_name} is student of Sir Qasim")
    print(f"{student_name} is Batch 04 student")
    
a = card("Zohair")
b = card("Ali")
c = card("Sohail")
print(a)

# ye print(a) none return is lye karega q k a value store nhi howe hn na koi value us me return howe hn

My name is Zohair
Zohair is student of Sir Qasim
Zohair is Batch 04 student
My name is Ali
Ali is student of Sir Qasim
Ali is Batch 04 student
My name is Sohail
Sohail is student of Sir Qasim
Sohail is Batch 04 student
None

In [47]:
def card(student_name):
    details = (f"""
    My name is {student_name}
    {student_name} is student of Sir Qasim
    {student_name} is Batch 04 student
    """)
    
    return details
a = card("Zohair")
b = card("Ali")
c = card("waqas")
d = card("farrukh")
e = card("sameer")
f = card("aliyan")

In [49]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

    My name is Zohair
    Zohair is student of Sir Qasim
    Zohair is Batch 04 student


    My name is Ali
    Ali is student of Sir Qasim
    Ali is Batch 04 student


    My name is waqas
    waqas is student of Sir Qasim
    waqas is Batch 04 student


    My name is farrukh
    farrukh is student of Sir Qasim
    farrukh is Batch 04 student


    My name is sameer
    sameer is student of Sir Qasim
    sameer is Batch 04 student


    My name is aliyan
    aliyan is student of Sir Qasim
    aliyan is Batch 04 student

In [50]:
# for printing a length

def card(student_name):
    details = (f"""
    My name is {student_name}
    {student_name} is student of Sir Qasim
    {student_name} is Batch 04 student
    """)
    
    return details
a = len(card("Zohair"))
b = len(card("Ali"))
c = len(card("waqas"))
d = len(card("farrukh"))
e = len(card("sameer"))
f = len(card("aliyan"))

In [51]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

93
84
90
96
93
93

# Printing multi arguments

In [56]:
def uni_card(student_name , roll_no , batch , days , time):
    detail_uni_card = f"""
    Student Name : {student_name}
    Roll No      : {roll_no}
    Batch No     : {batch}
    Days         : {days}
    Timmings     : {time}
    """
    return detail_uni_card

Student1 = uni_card("Muhammad Zohair" , 120118 , 4  , "Tuesday and Friday" , "7PM TO 10PM" )
Student2 = uni_card("Muhammad Saad" , 120119 , 5  , "Wednesday and Sunday" , "5PM TO 8PM" )
Student3 = uni_card("Muhammad Arham" , 120128 , 6  , "Tuesday and Sunday" , "9PM TO 12PM" )
Student4 = uni_card("Muhammad Ali" , 120138 , 6  , "Monday and Tuesday" , "9PM TO 11PM" )
print(Student1)
print(Student2)
print(Student3)
print(Student4)

    Student Name : Muhammad Zohair
    Roll No      : 120118
    Batch No     : 4
    Days         : Tuesday and Friday
    Timmings     : 7PM TO 10PM


    Student Name : Muhammad Saad
    Roll No      : 120119
    Batch No     : 5
    Days         : Wednesday and Sunday
    Timmings     : 5PM TO 8PM


    Student Name : Muhammad Arham
    Roll No      : 120128
    Batch No     : 6
    Days         : Tuesday and Sunday
    Timmings     : 9PM TO 12PM


    Student Name : Muhammad Ali
    Roll No      : 120138
    Batch No     : 6
    Days         : Monday and Tuesday
    Timmings     : 9PM TO 11PM

# NOW PRINTING SAME CARDS WITH THE HELP OF DATABASE OR DATA LISTING

In [80]:
data =  [
    ["Muhammad Zohair" , 120118 , 4  , "Tuesday and Friday" , "7PM TO 10PM"],
    ["Muhammad Saad" , 120119 , 5  , "Wednesday and Sunday" , "5PM TO 8PM"],
    ["Muhammad Arham" , 120128 , 6  , "Tuesday and Sunday" , "9PM TO 12PM"],
    ["Muhammad Ali" , 120108 , 8  , "Thursday and Sunday" , "1PM TO 4PM"],
    ["Muhammad Armash" , 120228 , 1  , "Monday and Sunday" , "5PM TO 10PM"],
    ["Muhammad Afaq" , 120908 , 3  , "wednesday and Sunday" , "4PM TO 8PM"]
    ]
print(data)

[['Muhammad Zohair', 120118, 4, 'Tuesday and Friday', '7PM TO 10PM'], ['Muhammad Saad', 120119, 5, 'Wednesday and Sunday', '5PM TO 8PM'], ['Muhammad Arham', 120128, 6, 'Tuesday and Sunday', '9PM TO 12PM'], ['Muhammad Ali', 120108, 8, 'Thursday and Sunday', '1PM TO 4PM'], ['Muhammad Armash', 120228, 1, 'Monday and Sunday', '5PM TO 10PM'], ['Muhammad Afaq', 120908, 3, 'wednesday and Sunday', '4PM TO 8PM']]

In [81]:
for card in data:
    print(uni_card(card[0],card[1], card[2], card[3] , card[4]))

    Student Name : Muhammad Zohair
    Roll No      : 120118
    Batch No     : 4
    Days         : Tuesday and Friday
    Timmings     : 7PM TO 10PM


    Student Name : Muhammad Saad
    Roll No      : 120119
    Batch No     : 5
    Days         : Wednesday and Sunday
    Timmings     : 5PM TO 8PM


    Student Name : Muhammad Arham
    Roll No      : 120128
    Batch No     : 6
    Days         : Tuesday and Sunday
    Timmings     : 9PM TO 12PM


    Student Name : Muhammad Ali
    Roll No      : 120108
    Batch No     : 8
    Days         : Thursday and Sunday
    Timmings     : 1PM TO 4PM


    Student Name : Muhammad Armash
    Roll No      : 120228
    Batch No     : 1
    Days         : Monday and Sunday
    Timmings     : 5PM TO 10PM


    Student Name : Muhammad Afaq
    Roll No      : 120908
    Batch No     : 3
    Days         : wednesday and Sunday
    Timmings     : 4PM TO 8PM

In [82]:
for card in data:
    print(uni_card(card[1] ,card[0] ,  card[3] , card[4] , card[2]))
    pass
# keep in these do not write wrong index number because it will destroy ypur data information

    Student Name : 120118
    Roll No      : Muhammad Zohair
    Batch No     : Tuesday and Friday
    Days         : 7PM TO 10PM
    Timmings     : 4


    Student Name : 120119
    Roll No      : Muhammad Saad
    Batch No     : Wednesday and Sunday
    Days         : 5PM TO 8PM
    Timmings     : 5


    Student Name : 120128
    Roll No      : Muhammad Arham
    Batch No     : Tuesday and Sunday
    Days         : 9PM TO 12PM
    Timmings     : 6


    Student Name : 120108
    Roll No      : Muhammad Ali
    Batch No     : Thursday and Sunday
    Days         : 1PM TO 4PM
    Timmings     : 8


    Student Name : 120228
    Roll No      : Muhammad Armash
    Batch No     : Monday and Sunday
    Days         : 5PM TO 10PM
    Timmings     : 1


    Student Name : 120908
    Roll No      : Muhammad Afaq
    Batch No     : wednesday and Sunday
    Days         : 4PM TO 8PM
    Timmings     : 3

In [83]:
for card in data:
    print(uni_card(*card))
# it is more efficent because in this we cant use indexing

    Student Name : Muhammad Zohair
    Roll No      : 120118
    Batch No     : 4
    Days         : Tuesday and Friday
    Timmings     : 7PM TO 10PM


    Student Name : Muhammad Saad
    Roll No      : 120119
    Batch No     : 5
    Days         : Wednesday and Sunday
    Timmings     : 5PM TO 8PM


    Student Name : Muhammad Arham
    Roll No      : 120128
    Batch No     : 6
    Days         : Tuesday and Sunday
    Timmings     : 9PM TO 12PM


    Student Name : Muhammad Ali
    Roll No      : 120108
    Batch No     : 8
    Days         : Thursday and Sunday
    Timmings     : 1PM TO 4PM


    Student Name : Muhammad Armash
    Roll No      : 120228
    Batch No     : 1
    Days         : Monday and Sunday
    Timmings     : 5PM TO 10PM


    Student Name : Muhammad Afaq
    Roll No      : 120908
    Batch No     : 3
    Days         : wednesday and Sunday
    Timmings     : 4PM TO 8PM

# Optional parameter/default parameters value function

In [95]:
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))

def add_number(num1 , num2):
    return num1 * num2

a = add_number(num1 , num2)
print(a)

Enter a number3
Enter a number3
9

In [96]:
def add_number(num11 , num22):
    return num11 + num22

add_number(3 ,5)

8

In [100]:
add_number(4  , 5 )

9

In [109]:
def add_number(num11 = 2 , num22 = 6):
    return num11 + num22
add_number()

8

In [104]:
add_number( 2 , 4)

6

In [106]:
add_number( 5 , )

11

In [16]:
def my_sum(num1 , *value):
    print(num1 , value)
    print(type(num1) , type(value)) 
    for n in value:
         num1 == n
    return num1

print(my_sum(3 ,2 ,3 ,"zohair",3))

3 (2, 3, 'zohair', 3)
<class 'int'> <class 'tuple'>
3

In [11]:
def my_sum(numb1 , *numb2):
    print(numb1 , numb2)
    result = numb1
    for n in numb2:
        result += n
    return result
my_sum(3 ,3 ,4 ,5 ,5 ,53)

3 (3, 4, 5, 5, 53)

73

In [25]:
def my_details(**details):
    
    return details

a = my_details(Name = "Muhammad Zohair" , DOB = 25-8-2000 , Age = 22)
b =my_details(Name = "Muhammad Saad" , DOB = 20-4-2003 , Age = 19)
c= my_details(Name = "Muhammad Bilal" , DOB = 31-5-2002 , Age = 20)
d= my_details(Name = "Muhammad Khurrum" , DOB = 12-3-2001 , Age = 21)

print(a)
print(b)
print(c)

{'Name': 'Muhammad Zohair', 'DOB': -1983, 'Age': 22}
{'Name': 'Muhammad Saad', 'DOB': -1987, 'Age': 19}
{'Name': 'Muhammad Bilal', 'DOB': -1976, 'Age': 20}

In [46]:
def my_function(name , Gender='none' , *skills , **skills_expericence):
    print("Required positioanl Argument in Name = ", name, type(name))
    print("Positional defual parameter value argument in Gender= ", Gender, type(Gender))
    print("postional ulimited arguments in skills = ", skills, type(skills))
    print("key/word ulimited arguments in expericence = ", skills_expericence, type(skills_expericence))

my_function("Muhammad Zohair" , "Male" , "Python" , "java" , "html" , "css" , PYTHON ='1 year' , java = '2 year')
print("\n")
my_function("Muhammad saad" , "female" , "Python" , "java" ,  PYTHON ='3 year' , java = '5 year')
print("\n")
my_function("Muhammad Zohair" , "Male"  , "java" , "html" , "css" , PYTHON ='0 year' , java = '1 year')

Required positioanl Argument in Name =  Muhammad Zohair <class 'str'>
Positional defual parameter value argument in Gender=  Male <class 'str'>
postional ulimited arguments in skills =  ('Python', 'java', 'html', 'css') <class 'tuple'>
key/word ulimited arguments in expericence =  {'PYTHON': '1 year', 'java': '2 year'} <class 'dict'>


Required positioanl Argument in Name =  Muhammad saad <class 'str'>
Positional defual parameter value argument in Gender=  female <class 'str'>
postional ulimited arguments in skills =  ('Python', 'java') <class 'tuple'>
key/word ulimited arguments in expericence =  {'PYTHON': '3 year', 'java': '5 year'} <class 'dict'>


Required positioanl Argument in Name =  Muhammad Zohair <class 'str'>
Positional defual parameter value argument in Gender=  Male <class 'str'>
postional ulimited arguments in skills =  ('java', 'html', 'css') <class 'tuple'>
key/word ulimited arguments in expericence =  {'PYTHON': '0 year', 'java': '1 year'} <class 'dict'>

In [52]:
def my_function(name , Gender='none' , *skills , **skills_expericence):
    print(name)
    print(Gender)
    print(skills)
    print(skills_expericence)

my_function("Muhammad Zohair" , "Male" , "Python" , "java" , "html" , "css" , PYTHON ='1 year' , java = '2 year')
print("\n")
my_function("Muhammad saad" , "female" , "Python" , "java" ,  PYTHON ='3 year' , java = '5 year')
print("\n")
my_function("Muhammad Zohair" , "Male"  , "java" , "html" , "css" , PYTHON ='0 year' , java = '1 year')

Muhammad Zohair
Male
('Python', 'java', 'html', 'css')
{'PYTHON': '1 year', 'java': '2 year'}


Muhammad saad
female
('Python', 'java')
{'PYTHON': '3 year', 'java': '5 year'}


Muhammad Zohair
Male
('java', 'html', 'css')
{'PYTHON': '0 year', 'java': '1 year'}

In [73]:
def student_card(name , roll_no , *skills):
    card = print(f"""
    Student Name = {name}
    Roll No = {roll_no}
    Skills = 
    """)
    for skill in skills:
        print(skill)

student_card("Zohair" , 2949 , "java" , "pyhthon" , "html ")

    Student Name = Zohair
    Roll No = 2949
    Skills =

java
pyhthon
html

In [74]:
def student_card(name , roll_no , *skills):
    print("Student Name = " , name)
    print("Roll No =" , roll_no)
    print("Skills =", )
    for s in skills:
        print("\t" , s )

        
student_card("Zohair" , 2949 , 'java' , "pyhthon" , "html ")

Student Name =  Zohair
Roll No = 2949
Skills =
	 java
	 pyhthon
	 html

In [71]:
def std_card(roll_no, name, *skills):
    print("Student Roll no:", roll_no)
    print("Student Name:", name)
    print("Skills:")
    for s in skills:
        print("\t",s)

std_card(1,"Muhammad Qasim", "python",'java','typescript','solidity')

Student Roll no: 1
Student Name: Muhammad Qasim
Skills:
	 python
	 java
	 typescript
	 solidity

In [77]:
student = lambda name , ids : print(name , ids)
student("Zohair" , 2949)

Zohair 2949

In [80]:
a = lambda num1 , num2: num1 + num2
a(247 ,3)

250

In [82]:
a(72 ,3)

75

In [83]:
a(2 ,3)

5

In [84]:
l = [[1,'a','Z'],
    [2,'y','Y'],
    [3,'e',"X"]]
l

[[1, 'a', 'Z'], [2, 'y', 'Y'], [3, 'e', 'X']]

In [85]:
sorted(l , key = lambda x :x[2])

[[3, 'e', 'X'], [2, 'y', 'Y'], [1, 'a', 'Z']]

In [1]:
 d = {"Alice": 25, "Bob": 30, "Charlie": 20, "David": 40}

sorted_dict = dict(sorted(d.items(), key=lambda x: x[1]))

print(sorted_dict)

{'Charlie': 20, 'Alice': 25, 'Bob': 30, 'David': 40}

In [110]:
def function(n):
    for i in range(n):
        if i % 2 == 1:
            yield i
for z in function(20):
    print(z)

1
3
5
7
9
11
13
15
17
19

In [10]:
def func(start , end):
    for i in range(start , end+1):
        yield i
a =func(2 ,8)

print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

2
3
4
5
6
7
8

In [4]:
counter = 2023
while counter > 2000:
    print(counter , "year")
    counter -=1

2023 year
2022 year
2021 year
2020 year
2019 year
2018 year
2017 year
2016 year
2015 year
2014 year
2013 year
2012 year
2011 year
2010 year
2009 year
2008 year
2007 year
2006 year
2005 year
2004 year
2003 year
2002 year
2001 year

In [9]:
def std_card(roll_no, name, *skills):
    print("Student Roll no:", roll_no)
    print("Student Name:", name)
    print("Skills:")
    for s in skills:
        print("\t",s)

std_card(int(input("Enter a roll no")) , input("Student name") , input("sKILLSS"))

Enter a roll no2
Student name2
sKILLSS2
Student Roll no: 2
Student Name: 2
Skills:
	 2

In [ ]:
S