# LIST

In [2]:
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
print(friends)
print(friends)

['zaid', 'saif', 'bilal', 1, 2, 3]
2

In [1]:
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
print(friends)

['zaid', 'saif', 'bilal', 1, 2, 3]

In [3]:
#slicing yani agar apko koi list se sirf kuch part chayie to hum slicing krte hn
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
print(friends)
print(friends[ 1       : 4 : 1])
# --> var_name[ start  : end : step ]

['zaid', 'saif', 'bilal', 1, 2, 3]
['saif', 'bilal', 1]

In [8]:
# ----->         0        1        2      3   4   5
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
# <-----      -6      -5        -4      -3  -2  -1
print(friends[-6])

zaid

In [9]:
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
# <-----      -6      -5        -4      -3  -2  -1
print(friends[-6])

zaid

In [22]:
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
print(friends)

counter = 0
while counter < len(friends):
        print(friends[counter])
        counter += 1

['zaid', 'saif', 'bilal', 1, 2, 3]
zaid
saif
bilal
1
2
3

In [19]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names)

counter = 0
while counter < len(names):
    print(names[counter])
    counter += 1

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
Asif
Kashif
Hamza
1000
2000
3000
True

In [25]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names)

counter = 1
while counter < len(names):
    print(names[counter])
    counter += 1

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
Kashif
Hamza
1000
2000
3000
True

In [28]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names)

counter = 1
while counter < len(names):
    print(names[counter])
    counter +=5

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
Kashif
True

In [29]:
names = ['Asif',"Kashif",'Hamza',1000,2000,3000,True]
print(names)

for i in names:
    print(i)

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
Asif
Kashif
Hamza
1000
2000
3000
True

In [34]:
l1 = ["apple", "banana", "cherry" , 1, 5, 7, 9, 3 ,True, False, False ]
print(l1)

for i in l1:
    print(i)

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False]
apple
banana
cherry
1
5
7
9
3
True
False
False

In [38]:
l1 = ["apple", "banana", "cherry" , 1, 5, 7, 9, 3 ,True, False, False ]
print(l1)

print(l1[4 : 8 :1])
print(l1[4 :  :2])
print(l1[ : 3 :2])

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False]
[5, 7, 9, 3]
[5, 9, True, False]
['apple', 'cherry']

In [42]:
l1 * 1

['apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False]

In [45]:
l1 + names + friends

['apple',
 'banana',
 'cherry',
 1,
 5,
 7,
 9,
 3,
 True,
 False,
 False,
 'Asif',
 'Kashif',
 'Hamza',
 1000,
 2000,
 3000,
 True,
 'zaid',
 'saif',
 'bilal',
 1,
 2,
 3]

In [2]:
[i for i in dir(tuple) if "__" not in i]

['count', 'index']

In [51]:
# append function in list

friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
friends.append(4)
print(friends)

['zaid', 'saif', 'bilal', 1, 2, 3, 4]

In [53]:
friends = [ "zaid" , "saif" , "bilal" , 1 , 2 , 3]
friends.append("saad")
print(friends)

['zaid', 'saif', 'bilal', 1, 2, 3, 'saad']

In [54]:
animal = []

animal.append("lion")
animal.append("cat")
animal.append("horse")
animal.append("monkey")

print(animal)

['lion', 'cat', 'horse', 'monkey']

In [55]:
print(friends)

['zaid', 'saif', 'bilal', 1, 2, 3, 'saad']

In [57]:
animal.clear()
print(animal)

[]

In [61]:
animal = friends.copy()
animal[3] = "Ali"
print(animal)

['zaid', 'saif', 'bilal', 'Ali', 2, 3, 'saad']

In [63]:
animal.clear()
print(animal)

[]

In [65]:
print(names)
animal = names.copy()
animal[3] = "jhanzeeb"
print(animal)

['Asif', 'Kashif', 'Hamza', 1000, 2000, 3000, True]
['Asif', 'Kashif', 'Hamza', 'jhanzeeb', 2000, 3000, True]

In [80]:
names = ['Asif', 'Kashif', 'Hamza', 2000, 2000, 2000, True]

In [78]:
names = ['Asif', 'Kashif', 'Hamza', 2000, 2000, 2000, True]
print(names.count(2000))
print(names.index(True))

3
6

In [96]:
names = [ 2000 , 2000 , 'Kashif', 'Hamza', 2000, 2000, 2000, True]
print(names.index(2000))
print(names.index(2000 , 1))
print(names.index (2000, 2))
print(names.count(2000))

0
1
4
5

In [106]:
# extend k jo purpose hota hn k list ma item ko permanantly add krna a

names = ['Asif', 'Kashif', 'Hamza', True]
cell =  [12000, 22000, 23000]
print(names + cell)
print(names)
names.extend(cell)
print(names)

['Asif', 'Kashif', 'Hamza', True, 12000, 22000, 23000]
['Asif', 'Kashif', 'Hamza', True]
['Asif', 'Kashif', 'Hamza', True, 12000, 22000, 23000]

In [100]:
print(names)

['Asif', 'Kashif', 'Hamza', True, 12000, 22000, 23000]

In [110]:
n1 = ["a" , "b", "c", "d", "e", "f"]

n1.pop()
print(n1)
n1.pop()
print(n1)
n1.pop()
print(n1)
n1.pop(0)
print(n1)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']
['a', 'b', 'c']
['b', 'c']

In [112]:
# mainly purpose ye tha k agar ap koi cheez pop kr rhe hn yani list se bahar nikl rahe hn to yaad rhe hn k kiya nikla hn for record purpose
n1 = ["a" , "b", "c", "d", "e", "f"]
n2 = []

n2.extend(n1.pop())
print(n1)
n2.extend(n1.pop())
print(n1)
n2.extend(n1.pop())
print(n1)
n2.extend(n1.pop())
print(n1)

print(n2)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']
['a', 'b', 'c']
['a', 'b']
['f', 'e', 'd', 'c']

In [113]:
c
n1.sort()
print(n1)

['b', 'g', 'h', 'k', 'l', 'm']

In [114]:
n1.reverse()
print(n1)

['m', 'l', 'k', 'h', 'g', 'b']

In [115]:
n1.sort(reverse = True)
print(n1)

['m', 'l', 'k', 'h', 'g', 'b']

In [120]:
n1 = ["a" , "b", "c", "d", "e", "f"]

n2 = n1.remove("a")
print(n1)

['b', 'c', 'd', 'e', 'f']

In [ ]:
a = [ "ali" ,m]